html, body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif !important;
  /*background-color: #88caed;*/
  transition: 0.3s;
}

*{
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

a {
  text-decoration: none;
}

button {
  opacity: 1;
  transition: 0.3s;
}

button:active {
  opacity: 0.5
}

#application {
  width: 550px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  display: flex;
}

.center {
    margin: 0 auto;
}

.hidden {
  display: none !important;
}

.sign h1,
#error h1 {
  text-align: center;
  margin: 0 0 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.6em;
  padding: 10px;
}

.sign {
  padding: 20px;
}

#error_message {
  padding: 0 20px;
}

#application > .banner {
  width: 45%;
  background: #f2f2f2;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#application > .menu {
  width: 55%;
}

.sign input {
  width: 100%;
  background-color: white;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  padding-left: 35px;
  background-size: 18px;
  background-position: 8px;
  background-repeat: no-repeat;
}

.sign input[name=login] {
  border-radius: 4px 4px 0 0;
  border-bottom: 0px;
  background-image: url('chrome-extension://lgidmfpflehnfdhfghnopclkbebbipka/public/images/user.png');
}
.sign input[name=email] {
  border-bottom: 0px;
  background-image: url('chrome-extension://lgidmfpflehnfdhfghnopclkbebbipka/public/images/email.png');
}
.sign input[name=password] {
  border-radius: 0 0 4px 4px;
  border-width: 1px !important;
  background-image: url('chrome-extension://lgidmfpflehnfdhfghnopclkbebbipka/public/images/password.png');
}

#send_button, #registration_button {
  background-color: #01abeb;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 10px auto;
  border: 0;
  width: 100%;
  text-align: center;
}

.text-button {
  background: transparent;
  border: 0;
  text-align: center;
  color: #bdbdbd;
}

.sign-advanced {
  display: block;
  text-align: center;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 230px;
}

#loading img {
  width: 100px;
  height: 100px;
}

#profile hr,
#notes hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
}

#profile button,
#notes button {
  display: flex;
  width: 100%;
  margin: 4px 0;
  padding: 10px 15px;
  border: 0;
  background-color: transparent;
  transition: 0.3s;
}

#profile button:hover,
#notes button:hover {
  background-color: #eee;
}

#profile button:first-child,
#notes button:first-child {
  margin: 0 0 4px 0;
}

#profile button:last-child,
#notes button:first-child {
  margin: 4px 0 0 0;
}

#profile .profile-info {
  display: flex;
  margin: auto 10px;
  flex-flow: column;
  text-align: left;
  overflow: hidden;
}

#profile #profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#profile #profile-name {
  font-weight: bold;
}

#profile #profile-email {
  color: #666;
}

#note-list {
  max-height: 360px;
  overflow-y: scroll;
}

#note-list button {
  flex-flow: column wrap;
}

#note-list button span:last-child {
  font-size: 0.9em;
  color: #666;
  text-align: left;
}


/* scroll stile */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
