.extension-popup {
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.extension-window {
  background: #fff;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.extension-header {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.extension-title {
  padding: 10px 15px;
  background-color:  #f5f5f5;
}

.extension-title > .extension-text {
  font-weight:  bold;
  display:  block;
}

.extension-popup-close {
  margin-left: auto;
}

.extension-content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.extension-content input,
.extension-content textarea,
.extension-content select {
  padding: 11px 10px;
  margin: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}

.extension-content textarea {
  height: 100px;
  resize: none;
}

.extension-content select {
  outline: none;
}

.extension-content label:first-child {
  padding: 0 5px;
}

.extension-content label {
  padding: 5px 5px 0 5px;
}

.extension-button {
  margin: auto -10px -10px -10px;
  background: #f5f5f5;
  border-radius: 0 0 4px 4px;
  text-align: right;
  margin-top: auto;
}

.extension-button button {
  border: 0;
  padding: 15px;
  color: #fff;
  outline: none;
  opacity: 1;
  transition: 0.3s;
}

.extension-button button:hover{
  opacity: 0.8;
}

#extension-content-send {
  margin: 4px;
  text-transform: none;
  line-height: 0.2;
  background-color: #2fd785;
}

#extension-content-close {
  margin: 4px;
  text-transform: none;
  line-height: 0.2;
  background-color: #fe7064;
}

a.exnote {
  color: #548eaa !important;
  cursor: default;
  font-size: 75%;
  padding: 0 5px;
  line-height: 0;
  position: relative;
  top: -.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a.exnote:hover {
  cursor: help;
  text-decoration: underline;
}

.extension-content > .scrollbar-style {
    flex: 1;
    overflow-y: auto;
}

.extension-content .extension-note {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.extension-note .extension-note-text {
  display: block;
  height: calc(100% - 80px);
  text-align: justify;
  padding: 10px;
}

.extension-note .extension-note-text a {
  text-decoration: none;
  color: #333;
}

.extension-note .extension-note-text img {
  padding: 10px 0;
  text-align: center;
}

.extension-note > .extension-note-editor > .extension-note-rating {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-direction: column;
  align-self: center;
}

.extension-note > .extension-note-editor > .extension-note-rating > span {
  font-size: 0.7em;
  align-self: flex-start;
  padding: 2px 0;
}

.extension-note > .extension-note-editor > .extension-note-rating > div {
  background: #0000001c;
  width: 100%;
  max-width: 200px;
  align-self: flex-start;
  border-radius: 4px;
}

.extension-note > .extension-note-editor > .extension-note-rating > div > div {
  background: #00CC6A;;
  height: 6px;
  border-radius: 4px;
}

.extension-note > .extension-note-editor button {
  flex: 0;
  display: flex;
}

.extension-note > .extension-note-editor {
  display: flex;
}

.extension-content .extension-note-comments {
  flex: 1;
  overflow-y: auto;
  border-left: 1px solid #f2f2f2;
  display: flex;
  flex-flow: column;
}

.extension-note-comments > .scrollbar-style {
  padding: 10px;
  overflow-y: auto;
  flex: 1;
}

.extension-note-comments .extension-note-editor {
  display: flex;
  flex-flow: column;
}

.extension-note-comments .extension-note-editor textarea {
  height: 40px;
}

.extension-note-comments .extension-note-editor button {
  background: rgb(3, 169, 244) !important;
}

.extension-note-comments > h1 {
  font-size: 1.2em;
  text-align: left;
  margin: 10px 10px 0 10px;
}

.extension-note_comment {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}

.extension-note_comment .extension-note-comment__user > h4 {
  margin: 0;
  display: inline-block;
}

.extension-note_comment .extension-note-comment__user > span {
  color: #ccc;
  font-size: 0.8em;
  display: inline-block;
  padding-left: 10px;
}

.extension-note_comment .extension-note-comment__user > span::after {
  content: ')';
}

.extension-note_comment .extension-note-comment__user > span::before {
  content: '(';
}

.extension-note_comment .extension-note_comment__text {
  padding: 5px 0;
}

.extension-note .extension-note-members span {
  padding: 3px 6px;
  display: inline-block;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 4px;
  margin-right: 4px;
  font-size: 0.75rem;
}

.extension-content .extension-note:last-child {
  border-bottom: 0;
}

.extension-content .extension-note-info {
  display: flex;
  color: #ccc;
  padding: 5px 0;
}

.extension-content .extension-note-date {
  flex: 1;
  text-align: right;
}

.extension-content .extension-note-members {
  flex: 1;
  text-align: left;
  padding: 5px 10px;
}

.extension-header .extension-popup-close {
  padding: 0;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjMDEwMTAxIiBwb2ludHM9Ijc3LjYsMjEuMSA0OS42LDQ5LjIgMjEuNSwyMS4xIDE5LjYsMjMgNDcuNiw1MS4xIDE5LjYsNzkuMiAyMS41LDgxLjEgNDkuNiw1MyA3Ny42LDgxLjEgNzkuNiw3OS4yICAgNTEuNSw1MS4xIDc5LjYsMjMgIi8+PC9zdmc+");
  border: 0;
  width: 20px;
  height: 20px;
}

.extension-note-editor {
  background:  #f5f5f5;
  text-align:  right;
}

.extension-note-editor button {
  padding: 5px 10px;
  border: 0;
  border-radius:  3px;
  margin: 5px 0;
  background: #03A9F4;
  color: #fff;
}

.extension-note-editor button:last-child {
  background: #F44336;
  margin: 5px;
}


/* Custom Scroll Bar */
.scrollbar-style::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: rgba(3, 169, 244, 0.5);;
}

.scrollbar-style::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #F5F5F5;
}
